
body {
    background-color:#e4e4e4;
    }
header {
    background-color:#303030;
    color:red;
    }
article {
    background-color:#e4e4e4;
    color:black;
    }
aside {
    background-color:red;
    color:white;
    }
.main {
    background-color:#e4e4e4;
    color:black;
    }
.color1 {
    background-color:magenta;
    color:white;
    }
